In [1]:
from terra_sdk.client.lcd import LCDClient
from terra_sdk.client.lcd.api.wasm import WasmAPI
import pandas as pd 
import numpy as np

Настраиваем подключение к terra и создаем глобальные переменные

In [2]:
terra=LCDClient('https://lcd.terra.dev', 'columbus-4')
query = WasmAPI(terra)
ANCHOR_MARKET='terra1sepfj7s0aeg5967uxnfk4thzlerrsktkpelm5s'
ANCHOR_OVERSEER='terra1tmnqgvg567ypvsvk6rwsga3srp7e3lg6u0elp8'

Далее формируем листы залогов и заемов, так как информация о заёмах находится в Market, а о залогах в Overseer, приходится делать 2 разных массива. API может отдать максимум 30 кошельков за раз (по умолчанию выдает 10), но при этом можно указать номер кошелька с которого необходимо начать выдачу, поэтому пришлось делать следующее:

1. Без уточнения "start_after" получаем первые 10 кошельков
2. Далее создаем цикл, который берет последний ключ кошелька на предыдущей итерации и вставляет его в новую
3. Цикл продолжается до тех пор, пока API отдает 10 ключей 

На этом шаге создается будущий лист заемов а так же вручную прописывается первая итерация, с которой в последствии начнет работу цикл:

In [3]:
initial_loan_query = query.contract_query(ANCHOR_MARKET,{"borrower_infos":{}})['borrower_infos']
loans_list=[]
for x in range(len(initial_loan_query)):
    loans_list.append({'wallet_id':initial_loan_query[x]['borrower'],'UST_loan':initial_loan_query[x]['loan_amount']})

И затем начинаем прогонять все по циклу пока не получим информацию о каждом заёме. 

*В ноутбуке для ускорения работы количество итераций ограничено переменной counter*

In [4]:
support_cycle_loan_query = initial_loan_query
counter = 0
#Чтобы получить все заёмы в следущей строчке надо поставить в условие while len(support_cycle_loan_query) == 10
while counter < 100:
    cycle_loan_query=query.contract_query(ANCHOR_MARKET,{"borrower_infos":{"start_after":support_cycle_loan_query[9]['borrower']}})['borrower_infos']
    for x in range(len(cycle_loan_query)):
        loans_list.append({'wallet_id': cycle_loan_query[x]['borrower'],'UST_loan': cycle_loan_query[x]['loan_amount']})
    support_cycle_loan_query=cycle_loan_query
    counter+= 1

Те же операции что и выше проводим для того чтобы узнать залоги, так как залог может быть только в bETH или только в bLuna добавляеv if, при помощи которого разделяем эти случаи

In [5]:
initial_collateral_query=query.contract_query(ANCHOR_OVERSEER,{"all_collaterals": { }})["all_collaterals"]
collaterals_list =[]
for x in range(len(initial_collateral_query)):
    if len(initial_collateral_query[x]['collaterals']) > 1:
        collaterals_list.append({'wallet_id':initial_collateral_query[x]['borrower'],initial_collateral_query[x]['collaterals'][0][0]:initial_collateral_query[x]['collaterals'][0][1],
                                 initial_collateral_query[x]['collaterals'][1][0]:initial_collateral_query[x]['collaterals'][1][1]})
    else:
        collaterals_list.append({'wallet_id':initial_collateral_query[x]['borrower'],initial_collateral_query[x]['collaterals'][0][0]:initial_collateral_query[x]['collaterals'][0][1]})

In [6]:
support_cycle_collateral_query=initial_collateral_query
counter = 0
while counter < 100:
    cycle_collateral_query=query.contract_query(ANCHOR_OVERSEER,{"all_collaterals": {"start_after":support_cycle_collateral_query[9]['borrower']}})["all_collaterals"]
    for x in range(len(cycle_collateral_query)):
        if len(cycle_collateral_query[x]['collaterals']) > 1:
            collaterals_list.append({'wallet_id':cycle_collateral_query[x]['borrower'],cycle_collateral_query[x]['collaterals'][0][0]:cycle_collateral_query[x]['collaterals'][0][1],
                                 cycle_collateral_query[x]['collaterals'][1][0]:cycle_collateral_query[x]['collaterals'][1][1]})
        else:
            collaterals_list.append({'wallet_id':cycle_collateral_query[x]['borrower'],cycle_collateral_query[x]['collaterals'][0][0]:cycle_collateral_query[x]['collaterals'][0][1]})
    support_cycle_collateral_query = cycle_collateral_query
    counter+=1

Теперь из двух полученных массивов создаем таблицы (при этом меняем заголовки у залогов, чтобы они были понятны)

In [7]:
loan_table=pd.DataFrame(loans_list)
collateral_table = pd.DataFrame(collaterals_list)
bAssets={'wallet_id':'wallet_id','terra1kc87mu460fwkqte29rquh4hc20m54fxwtsx7gp':'bLuna','terra1dzhzukyezv0etz22ud940z7adyv7xgcjkahuun':'bETH'}
collateral_table.rename(columns=bAssets, inplace=True)

И затем совмещаем 2 полученные таблицы

In [8]:
result_table = loan_table.merge(collateral_table, on='wallet_id',how='left')

Теперь чтобы вычислить LTV необходимо свести все к единой величине, получаем текущий курс bETH и bLuna в UST из anchor oracle

In [9]:
ANCHOR_ORACLE = 'terra1cgg6yef7qcdm070qftghfulaxmllgmvk77nc7t'

bLuna_price=query.contract_query(ANCHOR_ORACLE,{"price": {"base":'terra1kc87mu460fwkqte29rquh4hc20m54fxwtsx7gp',"quote": "uusd" }})['rate']
bETH_price=query.contract_query(ANCHOR_ORACLE,{"price": {"base":'terra1dzhzukyezv0etz22ud940z7adyv7xgcjkahuun',"quote": "uusd" }})['rate']

Теперь меняем типы данных, чтобы появилась возможность умножать столбцы и деноминируем активы

In [10]:
result_table['UST_loan']=pd.to_numeric(result_table['UST_loan'],errors="coerce").fillna(0)/1000000
result_table['bLuna']=pd.to_numeric(result_table['bLuna'],errors="coerce").fillna(0)/1000000
result_table['bETH']=pd.to_numeric(result_table['bETH'],errors="coerce").fillna(0)/1000000

И добавляем новые столбцы с вычислениями

In [11]:
result_table['bLuna_denom']=result_table['bLuna']*int(float(bLuna_price))
result_table['bETH_denom']=result_table['bETH']*int(float(bETH_price))
result_table['denom_collateral']=result_table['bLuna_denom']+result_table['bETH_denom']
result_table['ltv'] = (result_table['UST_loan']/result_table['denom_collateral']).fillna(0)
result_table.replace(np.inf, 0, inplace = True)

В итоге получается вот такая таблицы

In [12]:
result_table.info()
result_table.head(10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1010 entries, 0 to 1009
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   wallet_id         1010 non-null   object
 1   UST_loan          1010 non-null   float64
 2   bLuna             1010 non-null   float64
 3   bETH              1010 non-null   float64
 4   bLuna_denom       1010 non-null   float64
 5   bETH_denom        1010 non-null   float64
 6   denom_collateral  1010 non-null   float64
 7   ltv               1010 non-null   float64
dtypes: float64(7), object(1)
memory usage: 71.0+ KB

,wallet_id,UST_loan,bLuna,bETH,bLuna_denom,bETH_denom,denom_collateral,ltv
0,terra1qqqz5f2l5epfft7l08wvp8qddhtapk437fy07t,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,terra1qqrqtl8uvn7mfre0vxdxvczjv663zmc9q9g363,0.000304,0.000019,0.000000,0.000551,0.000000,0.000551,0.551724
2,terra1qq8xq768s79al0espc9l68pza2gty67jl9lfsy,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,terra1qq8x3ufxkk8lxwq93zp37qlcmeqm7fyv442qus,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,terra1qq8k59w5erp56xemr2qmxy8jys77r3wmnk4phx,50.000000,4.999964,0.000000,144.998956,0.000000,144.998956,0.344830
5,terra1qqd04e9fte2sshm3uy7q5sux6wm34hyguprjtl,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
6,terra1qq0pm5wgdnanwzldt3seng0tw4yvz569l3d2hv,0.000913,0.000329,0.000000,0.009541,0.000000,0.009541,0.095692
7,terra1qqj02enhq8ved0un4jp2mx09qghpxvu6yvgvaa,0.000000,0.224398,0.000000,6.507542,0.000000,6.507542,0.000000
8,terra1qqnakv6hd2jdtaykza298kqsahnwys5uvrlkd7,10113.578013,277.453628,5.099999,8046.155212,15356.096989,23402.252201,0.432163
9,terra1qq5xwmkyxnjpjmvyhldhe405e2hhfl55weza8g,0.176235,0.092611,0.000000,2.685719,0.000000,2.685719,0.065619

И затем сохраняем результат (путь пока абсолютный, в будущем надо сделать это параметром API)

In [13]:
result_table.to_excel(r"D:\Program Files (x86)\PythonProjects\result\result_table.xlsx", index=False)